<h1>SHOW</h1>
<h5><%= notice %></h5>

<table>
  <tr>
    <td><%= @todo.description %></td>
    <% if @todo.completed == true %>
      <td>☑</td>
    <% else %>
      <td>☐</td>
    <% end %>
  </tr>
</table>
